<!-- PAGE TITLE -->
<section id="page-title" class="page-title-parallax text-light" data-stellar-background-ratio="0.9" style="background-image: url(/images/parallax/14.jpg)">
    <div class="background-overlay"></div>
    <div class="container">
        <div class="page-title col-md-8">
            <h1 class="text-uppercase text-medium">ABOUT US</h1>
            <span>Work is easy when you have all tools around you!</span>
        </div>
    </div>
</section>
<!-- END: PAGE TITLE -->

<section class="p-b-10">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading heading text-left">
                    <h2>THE COMPANY</h2>
                    <span class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. </span>
                </div>
            </div>
            <div class="col-md-6 m-t-60">
                <div class="progress-bar-container title-up small extra-small color">
                    <div class="progress-bar" data-percent="100" data-delay="100" data-type="%">
                        <div class="progress-title">HTML5</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small extra-small color">
                    <div class="progress-bar" data-percent="94" data-delay="200" data-type="%">
                        <div class="progress-title">CSS3</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small extra-small color">
                    <div class="progress-bar" data-percent="78" data-delay="300" data-type="%">
                        <div class="progress-title">JQUERY</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small extra-small color">
                    <div class="progress-bar" data-percent="65" data-delay="400" data-type="%">
                        <div class="progress-title">MYSQL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-grey">
    <div class="container">
        <div class="heading heading-center">
            <h2>OUR TEAM</h2>
            <span class="lead">Create amaLorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="image-box circle-image small">
                    <img class="" src="/images/team/1.jpg" alt="">
                </div>
                <div class="image-box-description text-center">
                    <h4>Juna Doe</h4>
                    <p class="subtitle">Software Developer</p>
                    <hr class="line">
                    <div>Nullam vulputate euis od urna non pharetra thasellus</div>
                    <div class="social-icons social-icons-border m-t-10 text-center">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box circle-image small">
                    <img alt="" src="/images/team/2.jpg">
                </div>
                <div class="image-box-description text-center">
                    <h4>Alea Ross</h4>
                    <p class="subtitle">Business Analyst</p>
                    <hr class="line">
                    <div>Nullam vulputate euis od urna non pharetra thasellus</div>
                    <div class="social-icons social-icons-border m-t-10 text-center">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box circle-image small">
                    <img src="/images/team/3.jpg" alt="">
                </div>
                <div class="image-box-description text-center ">
                    <h4>Ariol Perry</h4>
                    <p class="subtitle">Software Engineer</p>
                    <hr class="line">
                    <div>Nullam vulputate euis od urna non pharetra thasellus</div>
                    <div class="social-icons social-icons-border m-t-10 text-center">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box circle-image small">
                    <img src="/images/team/4.jpg" alt="">
                </div>
                <div class="image-box-description text-center">
                    <h4>Resa Smith</h4>
                    <p class="subtitle">Systems Engineer</p>
                    <hr class="line">
                    <div>Nullam vulputate euis od urna non pharetra thasellus</div>
                    <div class="social-icons social-icons-border m-t-10 text-center">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="heading heading-center">
            <h2>WHAT WE DO</h2>
            <span class="lead">Create amaLorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-box">
                    <h4>Web Development</h4>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-box">
                    <h4>Social Marketing</h4>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-box">
                    <h4>Graphic Design</h4>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-box">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-box">
                    <h4>App Development</h4>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-box">
                    <h4>Hosting services</h4>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="seperator">
    <i class="fa fa-chevron-down"></i>
</div>

<section>

    <div class="container">


        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="lead">Our awesome clients we've had the pleasure to work with!</p>
            </div>
        </div>


        <ul class="grid grid-5-columns">
            <li>
                <a href="#">
                    <img src="/images/clients/1.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/2.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/3.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/4.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/5.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/6.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/7.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/8.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/9.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/clients/10.png" alt="">
                </a>
            </li>
        </ul>

    </div>
</section>

